body {
    color: #141c3a;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    font-family: "eurostile",sans-serif;
}
.has-text-primary {
  color: #7510F7 !important;
}
.button.is-primary.is-outlined {
  background-color: transparent;
  border-color: #7510F7;
  color: #7510F7;
}

